/* Reset */
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
img {
  border: 0;
  -webkit-transform: rotateZ( 0.1deg);
  -ms-transform: rotateZ( 0.1deg);
  -o-transform: rotateZ( 0.1deg);
  transform: rotateZ( 0.1deg);
  position: absolute;
  left: 0;
  right: 0;
}

/* Container */
#wrapper{
  width: 728px;
  height: 90px;
  background:#000; position: absolute;
  overflow: hidden;
  border:1px solid #000;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}
.Button{
  z-index: 11;
}